.wrap {
    width: 1200px;
    margin: auto;
    font-family : '해바라기', sans-serif;
}

.top {
    height: 50px;
    border-bottom: black solid 2px;
    font-family: '동해 독도', 필기체;
}
table{
    text-align: center;
    margin: auto;
}
.table-wrap{
    margin: auto;
    width: 100%;
    height: 450px;
    overflow: auto;
}

.top-text {
    margin-left: 460px;
}
.top-text-info {
    margin-left: 240px;
}

.top-wrap {
    width: 100%;
}

.hate {
    background-color: transparent;
}

.aaa {
    background-color: blue;
}

.like {
    color: transparent;
    text-shadow: 0 0 2px rgba(255, 255, 255, .7), 0 0 0 #000;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 40px;
    position: relative;
    visibility: hidden;
    margin-bottom: 20px;
}

.team:hover > a > btn {
    visibility: visible;
}

.like:hover {
    text-shadow: 0 0 0 #ea0;
}

.like.done {
    color: inherit;
}

.like.done:hover {
    color: transparent;
    text-shadow: 0 0 0 #777;
}

.list {
    list-style: none;
    padding: 50px;
}

/*리스트와 리스트사이 간격*/
.list > li {
    padding: 50px;
}

.checkbox {
    display: none;

}

.title {
    font-weight: bold;
    padding: 70px;
    margin: 0;
    border: 1px dashed white;
    /*background: yellow;*/
    cursor: pointer;
    display: block;
}

.desc {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.desc > div {
    margin: 10px;
}


.checkbox:checked + .title + .desc {
    max-height: 1000px;
}

.soccer {
    display: none;
}

.soccer + label {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/ko/thumb/7/73/%ED%94%84%EB%A6%AC%EB%AF%B8%EC%96%B4%EB%A6%AC%EA%B7%B8_%EB%A1%9C%EA%B3%A0.png/250px-%ED%94%84%EB%A6%AC%EB%AF%B8%EC%96%B4%EB%A6%AC%EA%B7%B8_%EB%A1%9C%EA%B3%A0.png");
}

.serie + label {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("https://ww.namu.la/s/f8a40544fab8771e9e3fa0210c6f021e259c67339f4550c3edc20c5895c987d0cdc0000340e42ec29fe8598aeef6ec7bdbfdad3aac92b6c1ac1db297f45a5b91dcfa262916fd1978fd2bf69b094c6b5166b6ae34fa98842463bca76310dcaffb");
}

.bundesliga + label {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/ko/thumb/d/df/Bundesliga_logo_%282017%29.svg/1200px-Bundesliga_logo_%282017%29.svg.png");
}

.LIGUE1 + label {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/ko/thumb/d/dd/Ligue_1_Logo.svg/1200px-Ligue_1_Logo.svg.png");
}

.logo-list {
    display: block;
}

.team-logo {
    width: 1000px;
    height: 250px;
    white-space: nowrap;
    overflow-x: scroll;

}

.team-logo > div {
    display: inline-block;
    margin-left: 30px;
    width: 150px;
}

.logo-image {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    cursor: pointer;
}

.team-logo::-webkit-scrollbar {
    height: 4px;
    background-color: bisque;
    
}

.team-logo::-webkit-scrollbar-thumb {
    background-color: rebeccapurple;
}

.team-logo-italy {
    width: 1000px;
    height: 250px;
    white-space: nowrap;
    overflow-x: scroll;
}

.team-logo-italy > div {
    display: inline-block;
    margin-left: 30px;
    width: 150px;
}

.team-logo-italy::-webkit-scrollbar {
    height: 4px;
    background-color: bisque;
}

.team-logo-italy::-webkit-scrollbar-thumb {
    background-color: deepskyblue;
}

.team-logo-bundesliga {
    width: 1000px;
    height: 250px;
    white-space: nowrap;
    overflow-x: scroll;
}

.team-logo-bundesliga > div {
    display: inline-block;
    margin-left: 30px;
    width: 150px;
}
.team-logo-bundesliga::-webkit-scrollbar{
    height: 4px;
    background-color: bisque;
}
.team-logo-bundesliga::-webkit-scrollbar-thumb{
    background-color: crimson;
}
.team-logo-one{
    widht: 1000px;
    height: 250px;
    white-space: nowrap;
    overflow-x: scroll;
}
.team-logo-one > div{
    display: inline-block;
    margin-left: 30px;
    width: 150px;
}
.team-logo-one::-webkit-scrollbar{
    height: 4px;
    background-color: bisque;
}
.team-logo-one::-webkit-scrollbar-thumb{
    background-color: lawngreen;
}

/*.top{*/
/*height: 50px;*/
/*border-bottom: black solid 2px;*/

.list {
    list-style: none;
    padding: 50px;
}

/*리스트와 리스트사이 간격*/
.list > li {
    padding: 50px;
}

.checkbox {
    display: none;

}

.title {
    font-weight: bold;
    padding: 70px;
    margin: 0;
    border: 1px dashed white;
    /*background: yellow;*/
    cursor: pointer;
    display: block;
}

.desc {
    max-height: 0px;
    overflow: hidden;
    transition: 0.7s;
}

.desc > div {
    margin: 10px;
}


.checkbox:checked + .title + .desc {
    max-height: 1000px;
}

.soccer {
    display: none;
}

/*.soccer + label {*/
/*    cursor: pointer;*/
/*    background-repeat: no-repeat;*/
/*    background-size: initial;*/
/*    background-position: center;*/
/*    background-image: url("https://upload.wikimedia.org/wikipedia/ko/thumb/7/73/%ED%94%84%EB%A6%AC%EB%AF%B8%EC%96%B4%EB%A6%AC%EA%B7%B8_%EB%A1%9C%EA%B3%A0.png/250px-%ED%94%84%EB%A6%AC%EB%AF%B8%EC%96%B4%EB%A6%AC%EA%B7%B8_%EB%A1%9C%EA%B3%A0.png");*/
/*}*/

/*.serie + label {*/
/*    cursor: pointer;*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    background-position: center;*/
/*    background-image: url("https://ww.namu.la/s/f8a40544fab8771e9e3fa0210c6f021e259c67339f4550c3edc20c5895c987d0cdc0000340e42ec29fe8598aeef6ec7bdbfdad3aac92b6c1ac1db297f45a5b91dcfa262916fd1978fd2bf69b094c6b5166b6ae34fa98842463bca76310dcaffb");*/
/*}*/

/*.bundesliga + label {*/
/*    cursor: pointer;*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    background-position: center;*/
/*    background-image: url("https://upload.wikimedia.org/wikipedia/ko/thumb/d/df/Bundesliga_logo_%282017%29.svg/1200px-Bundesliga_logo_%282017%29.svg.png");*/
/*}*/

/*.LIGUE1 + label {*/
/*    cursor: pointer;*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    background-position: center;*/
/*    background-image: url("https://upload.wikimedia.org/wikipedia/ko/thumb/d/dd/Ligue_1_Logo.svg/1200px-Ligue_1_Logo.svg.png");*/
/*}*/

