<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family = East + Sea + Dokdo & display = swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family = Sunflower : wght @ 300 & display = swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/join.css">
    <link rel="stylesheet" media="screen and (min-width: 1200px)" href="../static/join_1200px.css"/>
    <script>
        function join() {
            $.ajax({
                type: "POST",
                url: "/join/save",
                data: {
                    name_give: $('#name').val(),
                    id_give: $('#id').val(),
                    pw_give: $('#password').val(),
                    re_pw_give: $('#re_password').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다!')
                        window.location.replace("/login")
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
    <title>회원가입</title>
</head>
<body>

<div class="top">
    <div class="top-wrap">
        <h1 style="font-size: 40px;">SoccerInfo
            <span class="top-text" style="font-size: 40px;">회원가입</span>
        </h1>
    </div>
</div>

<section class="join-form">
    <div>
        <div class="int-area">
            <input type="text" name="username" id="name"
                   autocomplete="off" required>
            <label for="name">{{ name }}</label>
        </div>
        <div class="int-area">
            <input type="text" name="userid" id="id"
                   autocomplete="off" required>
            <label for="id">{{ id }}</label>
        </div>
        <div class="int-area">
            <input type="password" name="password" id="password"
                   autocomplete="off" required>
            <label for="password">{{ password }}</label>
        </div>
        <div class="int-area">
            <input type="password" name="re_password" id="re_password"
                   autocomplete="off" required>
            <label for="re_password">{{ re_password }}</label>
        </div>
        <div class="btn-area">
            <button type="danger" id="btn" class="btn btn-danger" onclick="join();">회원가입</button>
        </div>
    </div>
</section>
<script>
    let name = $('#name');
    let id = $('#id');
    let password = $('#password');
    let re_password = $('#re_password');
    let btn = $('#btn');

    $(btn).on('click', function () {
        if ($(name).val() == "") {
            $(name).next('label').addClass('warning');
            setTimeout(function () {
                $('label').removeClass('warning');
            }, 1500);
        } else if ($(id).val() == "") {
            $(id).next('label').addClass('warning');
            setTimeout(function () {
                $('label').removeClass('warning');
            }, 1500);
        } else if ($(password).val() == "") {
            $(password).next('label').addClass('warning');
            setTimeout(function () {
                $('label').removeClass('warning');
            }, 1500);
        } else if ($(re_password).val() == "") {
            $(re_password).next('label').addClass('warning');
            setTimeout(function () {
                $('label').removeClass('warning');
            }, 1500);
        }
    });
</script>
</body>
</html>