<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/login.css">

    <title>Title</title>

    <script>
        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        function login() {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    id_give: $('#id').val(),
                    pw_give: $('#password').val()
                },
                success: function (response) {
                    if (response['result'] == 'success'){
                        $.cookie('mytoken', response['token'], {path: '/'});

                        alert('로그인 되었습니다!')
                        window.location.replace("/")
                    } else{
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
</head>

<body>
<div class="top">
    <h1 style="color: white;">SoccerInfo
        <span style="margin-left: 400px; color: white;">Login page</span>
    </h1>
</div>
<section class="login-form">
    <div><!-- 아이디 입력-->
        <div id="video">
            <video autoplay loop muted style="width: 100%; object-fit: fill;">
                <source src="../static/videos/Gate%20-%2052177.mp4" type="video/mp4">
            </video>
        </div>
        <div class="int-area">
            <input type="text" name="username" id="id"
                   autocomplete="off" required>
            <label for="id">ID</label>
        </div>
        <div class="int-area"><!--비밀번호 입력-->
            <input type="password" name="password" id="password"
                   autocomplete="off" required>
            <label for="id">PassWord</label>
        </div>

        <div class = "btn-area">
            <button type="primary" id="join-btn" class="btn btn-primary" onclick="location.href='join'">회원가입</button>
            <button type="danger" id="btn" class="btn btn-danger" style="margin-top: 20px;" onclick="login();">로그인</button>
        </div>
    </div>
</section>
<script>
    let id = $('#id');
    let pw = $('#password');
    let btn = $('#btn');

    $(btn).on('click', function (){
        if ($(id).val()=="") {
            $(id).next('label').addClass('warning');
            setTimeout(function (){
                $('label').removeClass('warning');
            },1500);
        } else if ($(pw).val() =="") {
            $(pw).next('label').addClass('warning');
            setTimeout(function (){
                $('label').removeClass('warning');
            },1500);
    }
    });
</script>
</body>
</html>